<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,136}</string>
                <key>spriteSourceSize</key>
                <string>{130,136}</string>
                <key>textureRect</key>
                <string>{{782,822},{130,136}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>background_alphabet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{952,512}</string>
                <key>spriteSourceSize</key>
                <string>{952,512}</string>
                <key>textureRect</key>
                <string>{{0,0},{952,512}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>button_continue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{550,162}</string>
                <key>spriteSourceSize</key>
                <string>{550,162}</string>
                <key>textureRect</key>
                <string>{{0,1556},{550,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_continue_tapped.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{550,156}</string>
                <key>spriteSourceSize</key>
                <string>{550,156}</string>
                <key>textureRect</key>
                <string>{{604,898},{550,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cell.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,124}</string>
                <key>spriteSourceSize</key>
                <string>{124,124}</string>
                <key>textureRect</key>
                <string>{{760,1124},{124,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>circles_next_letter.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{418,418}</string>
                <key>spriteSourceSize</key>
                <string>{418,418}</string>
                <key>textureRect</key>
                <string>{{512,0},{418,418}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enter_rectangle_center.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,86}</string>
                <key>spriteSourceSize</key>
                <string>{64,86}</string>
                <key>textureRect</key>
                <string>{{760,1364},{64,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>enter_rectangle_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,86}</string>
                <key>spriteSourceSize</key>
                <string>{48,86}</string>
                <key>textureRect</key>
                <string>{{512,898},{48,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>enter_rectangle_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,86}</string>
                <key>spriteSourceSize</key>
                <string>{48,86}</string>
                <key>textureRect</key>
                <string>{{782,1660},{48,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hint_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,172}</string>
                <key>spriteSourceSize</key>
                <string>{166,172}</string>
                <key>textureRect</key>
                <string>{{604,1448},{166,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,-0.5}</string>
                <key>spriteSize</key>
                <string>{138,22}</string>
                <key>spriteSourceSize</key>
                <string>{137,21}</string>
                <key>textureRect</key>
                <string>{{884,1124},{138,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>main_background.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,480}</string>
                <key>spriteSourceSize</key>
                <string>{270,480}</string>
                <key>textureRect</key>
                <string>{{512,418},{270,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>music_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,116}</string>
                <key>spriteSourceSize</key>
                <string>{116,116}</string>
                <key>textureRect</key>
                <string>{{550,1620},{116,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>music_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,116}</string>
                <key>spriteSourceSize</key>
                <string>{116,116}</string>
                <key>textureRect</key>
                <string>{{666,1620},{116,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>next_word_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,172}</string>
                <key>spriteSourceSize</key>
                <string>{166,172}</string>
                <key>textureRect</key>
                <string>{{760,952},{166,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pearls_big.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,130}</string>
                <key>spriteSourceSize</key>
                <string>{258,130}</string>
                <key>textureRect</key>
                <string>{{782,418},{258,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>reshuffle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-0.5}</string>
                <key>spriteSize</key>
                <string>{144,146}</string>
                <key>spriteSourceSize</key>
                <string>{144,145}</string>
                <key>textureRect</key>
                <string>{{782,676},{144,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sound_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,116}</string>
                <key>spriteSourceSize</key>
                <string>{116,116}</string>
                <key>textureRect</key>
                <string>{{760,1248},{116,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sound_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,116}</string>
                <key>spriteSourceSize</key>
                <string>{116,116}</string>
                <key>textureRect</key>
                <string>{{770,1428},{116,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>video.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,116}</string>
                <key>spriteSourceSize</key>
                <string>{116,116}</string>
                <key>textureRect</key>
                <string>{{782,1544},{116,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>white_circle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{604,604}</string>
                <key>spriteSourceSize</key>
                <string>{604,604}</string>
                <key>textureRect</key>
                <string>{{0,952},{604,604}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ui-1.pvr.ccz</string>
            <key>size</key>
            <string>{930,1736}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:82a9f8e0278c9d8835947ffe619e5bab:178ae0cc3543e6082815bc335a872271:769895f57da86b9ee38d507f95d8717e$</string>
            <key>textureFileName</key>
            <string>ui-1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
