<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,68}</string>
                <key>spriteSourceSize</key>
                <string>{65,68}</string>
                <key>textureRect</key>
                <string>{{391,411},{65,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>background_alphabet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{476,256}</string>
                <key>spriteSourceSize</key>
                <string>{476,256}</string>
                <key>textureRect</key>
                <string>{{0,0},{476,256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>button_continue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{275,81}</string>
                <key>spriteSourceSize</key>
                <string>{275,81}</string>
                <key>textureRect</key>
                <string>{{0,778},{275,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_continue_tapped.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{275,78}</string>
                <key>spriteSourceSize</key>
                <string>{275,78}</string>
                <key>textureRect</key>
                <string>{{302,449},{275,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cell.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,62}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{380,562},{62,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>circles_next_letter.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,209}</string>
                <key>spriteSourceSize</key>
                <string>{209,209}</string>
                <key>textureRect</key>
                <string>{{256,0},{209,209}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enter_rectangle_center.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,43}</string>
                <key>spriteSourceSize</key>
                <string>{32,43}</string>
                <key>textureRect</key>
                <string>{{380,682},{32,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>enter_rectangle_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,43}</string>
                <key>spriteSourceSize</key>
                <string>{24,43}</string>
                <key>textureRect</key>
                <string>{{256,449},{24,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>enter_rectangle_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,43}</string>
                <key>spriteSourceSize</key>
                <string>{24,43}</string>
                <key>textureRect</key>
                <string>{{391,830},{24,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hint_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,86}</string>
                <key>spriteSourceSize</key>
                <string>{83,86}</string>
                <key>textureRect</key>
                <string>{{302,724},{83,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,-0.5}</string>
                <key>spriteSize</key>
                <string>{69,11}</string>
                <key>spriteSourceSize</key>
                <string>{68,10}</string>
                <key>textureRect</key>
                <string>{{442,562},{69,11}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>main_background.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,240}</string>
                <key>spriteSourceSize</key>
                <string>{135,240}</string>
                <key>textureRect</key>
                <string>{{256,209},{135,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>music_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,58}</string>
                <key>spriteSourceSize</key>
                <string>{58,58}</string>
                <key>textureRect</key>
                <string>{{275,810},{58,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>music_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,58}</string>
                <key>spriteSourceSize</key>
                <string>{58,58}</string>
                <key>textureRect</key>
                <string>{{333,810},{58,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>next_word_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,86}</string>
                <key>spriteSourceSize</key>
                <string>{83,86}</string>
                <key>textureRect</key>
                <string>{{380,476},{83,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pearls_big.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,65}</string>
                <key>spriteSourceSize</key>
                <string>{129,65}</string>
                <key>textureRect</key>
                <string>{{391,209},{129,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>reshuffle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-0.5}</string>
                <key>spriteSize</key>
                <string>{72,73}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{391,338},{72,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sound_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,58}</string>
                <key>spriteSourceSize</key>
                <string>{58,58}</string>
                <key>textureRect</key>
                <string>{{380,624},{58,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sound_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,58}</string>
                <key>spriteSourceSize</key>
                <string>{58,58}</string>
                <key>textureRect</key>
                <string>{{385,714},{58,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>video.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,58}</string>
                <key>spriteSourceSize</key>
                <string>{58,58}</string>
                <key>textureRect</key>
                <string>{{391,772},{58,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>white_circle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,302}</string>
                <key>spriteSourceSize</key>
                <string>{302,302}</string>
                <key>textureRect</key>
                <string>{{0,476},{302,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ui-1.pvr.ccz</string>
            <key>size</key>
            <string>{465,868}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:82a9f8e0278c9d8835947ffe619e5bab:178ae0cc3543e6082815bc335a872271:769895f57da86b9ee38d507f95d8717e$</string>
            <key>textureFileName</key>
            <string>ui-1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
