<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,272}</string>
                <key>spriteSourceSize</key>
                <string>{260,272}</string>
                <key>textureRect</key>
                <string>{{1564,1644},{260,272}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>background_alphabet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1904,1024}</string>
                <key>spriteSourceSize</key>
                <string>{1904,1024}</string>
                <key>textureRect</key>
                <string>{{0,0},{1904,1024}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>button_continue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1100,324}</string>
                <key>spriteSourceSize</key>
                <string>{1100,324}</string>
                <key>textureRect</key>
                <string>{{0,3112},{1100,324}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_continue_tapped.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1100,312}</string>
                <key>spriteSourceSize</key>
                <string>{1100,312}</string>
                <key>textureRect</key>
                <string>{{1208,1796},{1100,312}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cell.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{248,248}</string>
                <key>spriteSourceSize</key>
                <string>{248,248}</string>
                <key>textureRect</key>
                <string>{{1520,2248},{248,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>circles_next_letter.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{836,836}</string>
                <key>spriteSourceSize</key>
                <string>{836,836}</string>
                <key>textureRect</key>
                <string>{{1024,0},{836,836}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enter_rectangle_center.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,172}</string>
                <key>spriteSourceSize</key>
                <string>{128,172}</string>
                <key>textureRect</key>
                <string>{{1520,2728},{128,172}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>enter_rectangle_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,172}</string>
                <key>spriteSourceSize</key>
                <string>{96,172}</string>
                <key>textureRect</key>
                <string>{{1024,1796},{96,172}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>enter_rectangle_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,172}</string>
                <key>spriteSourceSize</key>
                <string>{96,172}</string>
                <key>textureRect</key>
                <string>{{1564,3320},{96,172}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hint_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{332,344}</string>
                <key>spriteSourceSize</key>
                <string>{332,344}</string>
                <key>textureRect</key>
                <string>{{1208,2896},{332,344}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1.5,-1.5}</string>
                <key>spriteSize</key>
                <string>{276,44}</string>
                <key>spriteSourceSize</key>
                <string>{273,41}</string>
                <key>textureRect</key>
                <string>{{1768,2248},{276,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>main_background.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{540,960}</string>
                <key>spriteSourceSize</key>
                <string>{540,960}</string>
                <key>textureRect</key>
                <string>{{1024,836},{540,960}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>music_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,232}</string>
                <key>spriteSourceSize</key>
                <string>{232,232}</string>
                <key>textureRect</key>
                <string>{{1100,3240},{232,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>music_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,232}</string>
                <key>spriteSourceSize</key>
                <string>{232,232}</string>
                <key>textureRect</key>
                <string>{{1332,3240},{232,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>next_word_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{332,344}</string>
                <key>spriteSourceSize</key>
                <string>{332,344}</string>
                <key>textureRect</key>
                <string>{{1520,1904},{332,344}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pearls_big.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{516,260}</string>
                <key>spriteSourceSize</key>
                <string>{516,260}</string>
                <key>textureRect</key>
                <string>{{1564,836},{516,260}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>reshuffle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1.5}</string>
                <key>spriteSize</key>
                <string>{288,292}</string>
                <key>spriteSourceSize</key>
                <string>{288,289}</string>
                <key>textureRect</key>
                <string>{{1564,1352},{288,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sound_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,232}</string>
                <key>spriteSourceSize</key>
                <string>{232,232}</string>
                <key>textureRect</key>
                <string>{{1520,2496},{232,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sound_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,232}</string>
                <key>spriteSourceSize</key>
                <string>{232,232}</string>
                <key>textureRect</key>
                <string>{{1540,2856},{232,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>video.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,232}</string>
                <key>spriteSourceSize</key>
                <string>{232,232}</string>
                <key>textureRect</key>
                <string>{{1564,3088},{232,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>white_circle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1208,1208}</string>
                <key>spriteSourceSize</key>
                <string>{1208,1208}</string>
                <key>textureRect</key>
                <string>{{0,1904},{1208,1208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ui-1.pvr.ccz</string>
            <key>size</key>
            <string>{1860,3472}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:82a9f8e0278c9d8835947ffe619e5bab:178ae0cc3543e6082815bc335a872271:769895f57da86b9ee38d507f95d8717e$</string>
            <key>textureFileName</key>
            <string>ui-1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
